@font-face {
    font-family: 'Great Vibes';
    src: local('Great Vibes'), local('GreatVibes-Regular'),
        url('GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sloop Script'; /* Имя, которое вы будете использовать */
    src: url('./Sloop-Script-Pro.otf') format('opentype'); /* Путь к файлу */
    font-weight: normal;
    font-style: normal;
}
