@font-face {
    font-family: 'Great Vibes';
    src: local('Great Vibes'), local('GreatVibes-Regular'),
        url('GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

